/target/
/Report/
just sharing to get awareness...

I went to STAR BAZAR for shopping and I purchase couple of items. 

When I saw bill I realize the price difference between what they are displaying in tag and what they are billing.

Attached photos will explain clearly.



